header {
    height: 80vh;
    background-image: url('../../assests/banner.png');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    color: whitesmoke;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 375px;
    height: 4px;
    background: #EE0034;
    margin: 10px auto 0 auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 9vmin;
    color: #EE0034;
    margin-bottom: 0;
}

.header-content h4 {
    margin-bottom: 20px;
    font-size: 2vmin;
}

.ctn {
    padding: 8px 35px;
    background: #EE0034;
    border-radius: 30px;
    color: whitesmoke;
    font-size: 2vmin;
}

a {
    text-decoration: none;
}